# MkDocs
/site/

# Python virtual environment
/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific
.idea/
.vscode/

# Node.js / npm (for temporary tools like markdownlint)
node_modules/
package.json
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
